# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/

# Venv & env
.venv/
venv/
.env
.env.*
!.env.example

# Django
db.sqlite3
/media/
staticfiles/
# /static/ 

# Logs
*.log

# IDE/OS
.vscode/
.idea/
.DS_Store
Thumbs.db
